body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;  
}
h1 {
    color: #333;
    text-align: center;
}   
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}   
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}   
.button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}       
.first-container {
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
}   


.second-container {
    background-color: #d0d0d0;
    padding: 20px;
    margin-bottom: 20px;
}           
ul {
    list-style-type: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
li {
    margin-bottom: 10px;
    list-style: none;
}   
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}   
a {
    color: #007BFF;
    text-decoration: none;
}       
a:hover {
    text-decoration: underline;
}   



